body {
  margin: auto;
  padding: 25px;
  max-width: 720px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  background-image: url('white_wall.webp');
  /* Background pattern from Toptal Subtle Patterns */
}
img.alt1 {
  width: 180px;
  height: 320px;
  border: 2px solid black;
  float: right;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
}
img.alt2 {
  width: 180px;
  height: 320px;
  border: 2px solid black;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
}
h1 {
  color:#B22222;
  font-size: 50px;
  text-align: center;
  font-family: Times;
  font-variant: small-caps;
}
h2 {
  color:#191970;
  font-size: 30px;
  text-align: left;
  font-family: Times;
  font-variant: small-caps;
}
h3 {
  font-size: 25px;
  text-align: center;
  font-family: Times;
  font-variant: small-caps;
}
p {
  font-size: 20px;
  text-align: justify;
  font-family: Times;
}
a {
  color: #DAA520;
  text-decoration: none;
}
a:visited {
  color: #DAA520;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.alt1 {
  color: #B22222;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #808080;
    background-color: #000000;
    background-image: url('dark_mosaic.png');
    /* Background pattern from Toptal Subtle Patterns */
  }
  img {
    border: 2px solid #808080;
  }
  h2 {
    color: #4682B4;
  }
  a {
    color: #B8860B;
  }
  a:visited {
    color: #B8860B;
  }
  a:hover {
  text-decoration: underline;
  }
  a.alt1 {
  color: #B22222;
  }
}

@media only screen and (max-width: 770px) {
  img.alt1 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.alt2 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  figure {
    float: none;
    display: block;
  }
  h2 {
    clear: both;
    text-align: center;
  }
}