/* Background patterns from Toptal Subtle Patterns */
:root {
  --brite: 70%;
  --coldf: #808080;
  --colbg: #000000;
  --colh1: #B22222;
  --colh2: #4682B4;
  --colaa: #B8860B;
  --colav: #B8860B;
  --colah: #B22222;
  --patbg: url('dark_mosaic.png');
}
body {
  color: coldf;
  margin: auto;
  padding: 35px;
  max-width: 750px;
  transition: 0.3s;
  margin-bottom: 8px;
  background-color: var(--colbg);
  background-image: var(--patbg);
  font-family: "Cormorant Garamond", serif;
}
footer {
  margin: auto;
  font-size: 15px;
  text-align: center;
  margin-bottom: 8px;
  color: var(--coldf);
  font-family: "Cormorant Garamond", serif;
}
img.alt1 {
  float: right;
  width: 180px;
  height: 320px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  border: 2px solid var(--coldf);
  filter: brightness(var(--brite));
}
img.alt2 {
  float: left;
  width: 180px;
  height: 320px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 2px solid var(--coldf);
  filter: brightness(var(--brite));
}
h1 {
  font-size: 50px;
  margin-top: 25px;
  text-align: center;
  color: var(--colh1);
  font-variant: small-caps;
}
h2 {
  font-size: 30px;
  text-align: left;
  color: var(--colh2);
  font-variant: small-caps;
}
h3 {
  font-size: 25px;
  margin-top: -25px;
  text-align: center;
  font-variant: small-caps;
}
p {
  font-size: 21px;
  color: var(--coldf);
  text-align: justify;
}
a {
  transition: 0.3s;
  color: var(--colaa);
  transform: scale(1);
  text-decoration: none;
}
a:visited {
  color: var(--colav);
  text-decoration: none;
}
a:hover {
  transition: 0.3s;
  color: var(--colah);
  transform: scale(1.1);
  text-decoration: none;
}
.btn {
  margin: 0;
  top: 10px;
  padding: 0;
  right: 10px;
  border: none;
  position: fixed;
  cursor: pointer;
  background: none;
  transition: 0.3s;
  color: var(--coldf);
  transform: scale(1.5)
}
.btn:hover {
  transition: 0.3s;
  transform: scale(1.6);
  text-decoration: none;
}
.icons{
  width: 400px;
  margin: auto;
  display: grid;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  grid-template-columns: auto auto auto auto auto;
}
.lightmode {
  --brite: 100%;
  --coldf: black;
  --colbg: #FFFFFF;
  --colh1: #B22222;
  --colh2: #191970;
  --colaa: #DAA520;
  --colav: #DAA520;
  --colah: #B22222;
  --patbg: url('white_wall.webp');
}
@media only screen and (max-width: 500px) {
  .btn {
    transform: scale(0.8)
  }
  .btn:hover {
    transform: scale(0.9)
  }
  footer {
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  img.alt1 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.alt2 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  figure {
    float: none;
    display: block;
  }
  h2 {
    clear: both;
    text-align: center;
  }
  p {
    font-size: 15px;
  }
  .icons{
    width: 100%;
    margin: auto;
    display: grid;
    font-size: 30px;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
  }
}