body {
  margin: auto;
  padding: 25px;
  max-width: 750px;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  font-family: "Cormorant Garamond", serif;
  background-image: url('white_wall.webp');
  /* Background pattern from Toptal Subtle Patterns */
}
img.alt1 {
  float: right;
  width: 180px;
  height: 320px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  border: 2px solid black;
}
img.alt2 {
  float: left;
  width: 180px;
  height: 320px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 2px solid black;
}
h1 {
  color:#B22222;
  font-size: 50px;
  text-align: center;
  font-variant: small-caps;
}
h2 {
  color:#191970;
  font-size: 30px;
  text-align: left;
  font-variant: small-caps;
}
h3 {
  font-size: 25px;
  margin-top: -25px;
  text-align: center;
  font-variant: small-caps;
}
p {
  font-size: 21px;
  text-align: justify;
}
a {
  color: #DAA520;
  text-decoration: none;
}
a:visited {
  color: #DAA520;
  text-decoration: none;
}
a:hover {
  color:#B22222;
  text-decoration: none;
}
.icons{
  width: 400px;
  margin: auto;
  display: grid;
  font-size: 40px;
  text-align: center;
  grid-template-columns: auto auto auto auto auto;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #808080;
    background-color: #000000;
    background-image: url('dark_mosaic.png');
    /* Background pattern from Toptal Subtle Patterns */
  }
  img.alt1 {
    border: 2px solid #808080;
  }
  img.alt2 {
    border: 2px solid #808080;
  }
  h2 {
    color: #4682B4;
  }
  a {
    color: #B8860B;
  }
  a:visited {
    color: #B8860B;
    text-decoration: none;
  }
  a:hover {
    color:#B22222;
    text-decoration: none;
  }
}
@media only screen and (max-width: 800px) {
  img.alt1 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.alt2 {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  figure {
    float: none;
    display: block;
  }
  h2 {
    clear: both;
    text-align: center;
  }
  p {
    font-size: 15px;
  }
  .icons{
    width: 60%;
    margin: auto;
    display: grid;
    font-size: 30px;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
  }
}